/* style.css */
body {
    text-align: center;
    background: linear-gradient(to right, rgb(33, 219, 8), rgb(54, 26, 212));
    font-family: 'Trebuchet MS';
    color: white;
    margin: 0;
    padding: 0;
}
.text-container {
  width: 500px; /* Largura igual à dos botões */
  margin: 20px auto; /* Centraliza o contêiner */
  /* text-align: justify; Justifica o texto */
 
}
h1 {
  min-width: 300px; /* Largura mínima para h1 */
  max-width: 600px; /* Largura máxima para h1 */
  margin: 10px auto; /* Centraliza o h1 na página */
}

h2 {
  min-width: 300px; /* Largura mínima para h2 */
  max-width: 400px; /* Largura máxima para h2 */
  margin: 20px auto; /* Centraliza o h1 na página */
}
img {
    border-radius: 75px;
    margin-top: 10px;
    max-width: 90%;
    height: auto;
    animation: bounce 2s infinite;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 20px auto; /* Centraliza o h1 na página */
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}


a {
    background-color: white;
    padding-left: 200px; /* Ajuste esse valor conforme necessário */
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
    margin: 10px auto;
    display: block;
    text-decoration: none;
    min-width: 300px;
    max-width: 500px;
    box-sizing: border-box;
    text-align: center; /* Centraliza o texto dentro do link */
}

/* Media Query para telas menores (ex: tablets e celulares) */
@media (max-width: 768px) {
    h2 {
        font-size: 30px;
    }

    a {
      padding-left: 30px; /* Ajuste esse valor conforme necessário */
        font-size: 18px;
        min-width: 500px; /* Largura mínima: 90% da tela */
        /* max-width: 100%; Largura máxima: 90% da tela */
        margin: 10px auto;
        padding: 30px; /* Aumenta o padding para melhor toque em dispositivos móveis */
        display: block;
    }

    img {
        max-width: 300px;
    }
}